/* Patrones de colores */
/* Cargar Fuente  */
html {
  font-size: 15px; }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #111111; }

.bienvenidos {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #8b8e92;
  color: #FFFFFF;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.encabezado.fondo-menu {
  background: #0666b3;
  padding: .7rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto; }

.container img {
  width: 140px;
  height: auto; }

.boton-menu {
  outline: 0;
  background: black;
  border: 0; }

.boton-menu .fa-align-justify {
  border: 0;
  font-size: 1.4rem;
  margin: 0;
  padding: 0 .2rem;
  color: #1E90FF; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .5rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #DCDCDC;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #1E90FF; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .btn-primary {
  margin-top: 1rem; }

.texto-encabezado .display-4 {
  margin-top: 5rem; }

.btn-primary {
  color: #FFFFFF;
  margin-top: 1rem;
  border-color: transparent;
  -webkit-transition: all .7s ease;
  transition: all .7s ease; }

.flecha-baja a {
  display: inline-block;
  font-size: 4rem;
  -webkit-animation: flecha-animada 1s ease-in-out infinite;
          animation: flecha-animada 1s ease-in-out infinite; }

/* Flecha animada */
@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.divisor {
  padding-bottom: 10px;
  border-bottom: 1px solid #3f87a6; }

@media (min-width: 575px) {
  .d-none {
    display: none !important; }

  .quienes-somos .titulo_azul {
    color: #054079;
    font-weight: 400;
    font-size: 1.5rem; }

  .soluciones-seguridad .seguridad {
    text-align: right; }

  .texto-encabezado h1 {
    font-size: 2.5rem; }

  .texto-encabezado a {
    font-size: .8rem; }

  .flecha-baja a {
    font-size: 3rem; }

  .texto_quienes_somos p {
    font-size: 1rem;
    font-weight: 500; }

  .titulo {
    position: relative;
    top: 45%;
    font-size: 1.5rem;
    font-weight: 600; }

  .titulo_azul {
    color: #054079; } }
@media (max-width: 576px) {
  html {
    font-size: 12px; }

  .soluciones-centrado {
    text-align: center; }

  .soluciones-seguridad .seguridad {
    text-align: center; }

  .texto-encabezado h1 {
    font-size: 1.8rem; }

  .quienes-somos .titulo_azul {
    color: #054079;
    font-weight: 700;
    font-size: 2rem; }

  .titulo_azul ul {
    color: #054079;
    font-weight: 700;
    font-size: xx-large;
    font-size: 1.4rem; }

  .titulo_azul {
    color: #054079; } }
@media (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .2rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #1E90FF;
    border-bottom: 4px solid; } }
.titulo {
  position: relative;
  top: 45%; }

.piedepagina {
  background: #001e3c;
  color: #fff;
  text-align: center;
  font-size: .9rem; }

.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.piedepagina .redes-sociales a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #1E90FF;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.texto_quienes_somos {
  font-size: larger;
  font-weight: 500; }

.aliados-img img {
  width: 30px;
  height: auto;
  margin-right: 40px; }

html ul {
  list-style: none; }

/*# sourceMappingURL=estilos.css.map */